<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">

</head>
<body>
  
    <div class="sidebar">
  <h2>HackStreet BOYS</h2>
  <a href="{{ url_for('homepage') }}">Home</a>
  <a href="{{ url_for('dashboard') }}">Track Expenses</a>
  <a href="{{ url_for('budget') }}">Budget Analytics</a>
  <a href="{{ url_for('chat') }}">Collab Corner</a>
  <a href="{{ url_for('login') }}">Login/Sign Up</a>
</div>


<div class="main">
  <div class="search-bar">
    <input type="text" placeholder="search here">
  </div>

  <div class="welcome-card">
    <strong>Welcome back, username!</strong><br>
    Remember smart finance is key to secure future...
    
  </div>

  <div class="info-grid">
    <div class="info-box">
      <h3>Check Bank Balance</h3>
      *****<br>Amount spent<br>Amount saved<br>Friends and people<br>Rating
      </div>
    <div class="info-box">
      <h3>Notifications</h3>
      Notifications of government schemes and web app
    </div>
  </div>

  <div class="scheme-box">
    Government Schemes Enrolled in →
  </div>
</div>

<button class="ask-btn">Ask me</button>
    
</body>
</html>